header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 15px 30px;
}
.nav-menu {
    list-style: none;
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    padding: 50px 20px
    /* outline: 3px solid blue; */
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu a {
    color: rgb(17, 17, 17);
    text-decoration: none;
    padding: 8px 12px;
}

/* .nav-menu a:hover {
    background-color: #45a049;
    border-radius: 4px;
} */
 